@charset "UTF-8";

/*Estilos para tela */

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: #ba3d04;
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: #9e2524;
}

menu li {
    background-color: #dd9645;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}